<main class="bg-gradient-to-r from-seaGreen to-seaBlue p-2">
    <div class="flex items-center justify-between">
    <h1 class="mb-0 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
        <span class="text-transparent bg-clip-text bg-seaBlue">Your Board name</span> Tasks
    </h1>
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group group-hover:from-seaGreen group-hover:to-seaBlue hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-seaBlue bg-opacity-10 rounded-md group-hover:bg-opacity-40">
        Invite users
        </span>
        </button>
    <div id="dropdownAvatarNameButton" class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full cursor-default md:me-0 dark:text-white">
        <img class="w-8 h-8 me-2 rounded-full" src="/assets/avatar.jpg" alt="user photo">
        User name
    </div>
</div>
<app-card></app-card>
</main>
