<main class="flex flex-col mt-5">
  <h1
    class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-seaBlue md:text-5xl lg:text-6xl cursor-default"
  >
    ✨Admin View✨
  </h1>
  <div class="flex flex-row space-x-8 overflow-x-auto w-10/12 mx-auto">
    @for (user of Users; track $index) {
    <div
      class="px-10 py-4 flex flex-row justify-center items-center my-20 max-w-sm bg-white border border-gray-200 rounded-lg shadow"
    >
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="/assets/avatar.jpg"
          alt=""
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900">{{user.username}}</h5>
        <div class="flex mt-4 md:mt-6">
            @if (ButtonIndex == $index) {
                <button
                    (click)="GoToUserBoard(user.id, $index)"
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Close Board
                </button>
            } @else if (ButtonIndex != $index) {
                <button
                    (click)="GoToUserBoard(user.id, $index)"
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    View Board
                </button>
            }
          <a
            (click)="DeleteUser(user.id)"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            >Delete User</a
          >
        </div>
      </div>
    </div>
    }
  </div>
  @if (Toggle) {
  <h1
    class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-seaBlue md:text-5xl lg:text-6xl cursor-default"
  >
    {{User?.username}}
  </h1>
  <div class="w-full">
  <div class="grid grid-cols-3 gap-12 mx-auto w-4/5 shadow-lg rounded-lg pt-10 px-20">
  @for (board of Boards; track $index) {
    <div class="relative h-60 w-60 space-y-1">
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=2103&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
      />
      <span class="absolute top-2 right-2 text-white bg-black bg-opacity-60 rounded px-2 py-1 text-xs"
        >{{board.name}}
      </span>
    </div>
  } 
</div>
</div>
}
</main>
