<main class="bg-hero-image bg-cover h-[calc(100vh-64px)]  flex flex-col justify-center items-center">

    <div class="text-center px-4 sm:px-16 ">
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight  md:text-5xl lg:text-6xl text-white">Organize Your Day and Projects Effortlessly</h1>
      <p class="inline-block rounded-3xl bg-slate-400 bg-opacity-25 mb-6 text-lg font-normal text-gray-900 lg:text-xl px-4 py-2"> 
        With Flowboard, you can easily set up tasks for the day or manage entire projects with ease. Stay on top of your priorities and ensure smooth project execution—all in one place.
      </p>
      <a routerLink="/Board"class=" cursor-pointer inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-seaGreen rounded-lg hover:opacity-90 focus:ring-4 focus:ring-offset-seaGreen">
        Get Started
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
      </div>
    
    </main>