<main class=" bg-seaBlue h-[calc(100vh-64px)]">
  <div class="p-20 relative">
      <form class="max-w-sm mx-auto bg-white rounded-tl-[80px] p-10">
          <h1 class="text-2xl mb-5 text-center font-semibold border-b border-black p-1">ADMIN LOGIN</h1>
          <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900">Your Email:</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-seaBlue" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
              </svg>
            </div>
            <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="name@flowboard.com">
          </div>
          <div class="mb-5 mt-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password:</label>
            <input type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:shadow-sm-light" required />
          </div>
          <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
              <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-seaBlue" required />
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">I agree with the <a href="#" class="text-seaBlue hover:underline">terms and conditions</a></label>
          </div>
          <button type="submit" class="text-white bg-seaBlue hover:bg-seaBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-5 text-center">Login</button>
          <br>
      <a class="text-seaBlue hover:underline" [routerLink]="['/create-account']">Create account?</a>
        </form>
        <div class="absolute bottom-0 right-0 sm:mr-[38px]">
          <img class="w-80 h-80 hidden lg:block" src="assets/file.png" alt="working-from-home">
        </div>
        <div class="absolute bottom-0 left-0 sm:ml-18">
          <img class="w-80 h-80 hidden lg:block" src="assets/file.png" alt="working-from-home">
        </div>
  </div>
  </main>